.border {
    border: 5px solid rgb(27, 25, 25);
    fill: aqua;
}
 img{ 
    width: 500px;
}
#div1 {
    margin-top: 0px;
    background-color: aqua;
    
    
}
#div2 {
    background-color: aqua;
    margin-top: 0px;
    
    

}
#bild1 {
    
    margin-top: 0px;
    margin-left: 200px;
    align-content: center;
}